<h1 class=".infrrd-text-center">  Employee Management </h1>
<div>
  <h3> Hey, What would you like to do?</h3> <br/>
  <button class="infrrd-btn" (click)='addNewEmployee()'> Add New Employee</button>
  <!-- <button class="infrrd-btn" (click)='editEmployee()'> Edit Employee Details</button> -->
  <button class="infrrd-btn" (click)='viewEmployees()'> View / Edit/ Delete Employees</button>
  <!-- <button class="infrrd-btn" (click)='deleteEmployee()'> Delete Employee</button> -->
</div>
<router-outlet></router-outlet>
  